html {
	font-family: Verdana, Geneva, sans-serif;
}

body {
	width: 50%;
	margin: auto;
}

header {
	background-color: white;
	border-radius: 10px;
	border: 2px solid darkorchid;
	text-align: center;
	margin-top: 2em;
}