<!DOCTYPE html>
<html lang="en">
	<head>
		<title>jamesgoca Weather Station</title>

		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<header>
			<h1>jamesgoca Weather Station</h1>
		</header>
		<main>
			<section>
				<h2>Indoors</h2>
				<p>In James' room, it is currently {{ current_temp }} temperature.</p>
			</section>
			<section>
				<h2>Outdoors</h2>
				<p>Outside, the weather forecast is for {{ description }}.</p>
			</section>
		</main>
		<footer>
		</footer>
	</body>
</html>