{% extends "base.html" %}

{% block content %}
<section>
	<h2>Indoors</h2>
	<p>In James' room, it is currently {{ indoor_temp }} degrees celcius. The humidity is {{ indoor_humidity }}. The atmospheric pressure is {{ indoor_pressure }} millibars.</p>
	<p><em>This data is updated every hour. The last update was {{ last_updated_indoors }}.</em></p>
</section>
<section>
	<h2>Outdoors</h2>
	<p>Outside, it is {{ outdoor_temp["temp"] }} degrees celcius. It feels like {{ outdoor_temp["feels_like"] }} degrees. It is expected that there will be a high of {{ outdoor_temp["temp_max"] }} degrees and a low of {{ outdoor_temp["temp_min"] }} degrees today. The humidity is {{ outdoor_humidity }}. The wind speed is {{ wind_speed }} kilometers per hour.</p>
</section>
<section>
	<h2>About This Project</h2>
	<p>After a recent <a href="https://events.indieweb.org/2020/09/online-homebrew-website-club-europe-london-TDLtXJn3Febu">Homebrew Website Club meeting</a>, jamesgoca started to think about what he could do with his Raspberry Pi. Inspired by the Raspberry Pi Weather Station projects, he has created this live website that shows the weather in his current location and the environmental conditions in his bedroom where he works.</p>
	<p><a href="/data.json">Click here to view the raw data for this project</a>.</p>
</section>
{% endblock %}