<!DOCTYPE html>
<html lang="en">
	<head>
		<title>jamesgoca Weather Station</title>

		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<header>
			<h1>jamesgoca Weather Station</h1>
		</header>
		<main>
			<section>
				<h2>Indoors</h2>
				<p>In James' room, it is currently {{ indoor_temp }} degrees celcius. The humidity is {{ indoor_humidity }}. The atmospheric pressure is {{ indoor_pressure }} millibars.</p>
			</section>
			<section>
				<h2>Outdoors</h2>
				<p>Outside, it is {{ outdoor_temp }} degrees celcius. The humidity is {{ outdoor_humidity }}. The wind speed is {{ wind_speed }}.</p>
			</section>
		</main>
		<footer>
		</footer>
	</body>
</html>